<!DOCTYPE html>

<body>
    <header>
        <p>
            <a href="/">Home</a>
        </p><br/>
        Cadastro de Empresa
    </header>
    <form method="post" action="/empresa/cadastro/novo">
        <label for="nomeempresa">Nome da Empresa:</label>
        <input type="text" name="nomeempresa" id="nomeempresa" placeholder="Empresa S/A" />
        <br/>
        <label for="responsavelempresa">Responsável Empresa:</label>
        <input type="text" name="responsavelempresa" id="responsavelempresa" placeholder="João Maria da Silva" />
        <br/>
        <label for="telefone">Telefone Empresa:</label>
        <input type="text" name="telefone" id="telefone" placeholder="(42) 98765-4321"
            pattern="^1\d\d(\d\d)?$|^0800 ?\d{3} ?\d{4}$|^(\(0?([1-9a-zA-Z][0-9a-zA-Z])?[1-9]\d\) ?|0?([1-9a-zA-Z][0-9a-zA-Z])?[1-9]\d[ .-]?)?(9|9[ .-])?[2-9]\d{3}[ .-]?\d{4}"
            title="Digite um número de telefone válido!" />
        <br/>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" placeholder="email@example.com"
            pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"
            title="Digite um endereço de e-mail válido!" />
        <br/>

        <button type="submit">Cadastrar</button>
    </form>
    <form method="post" action="/login/realizar_logout">
        <button type="submit">Logout</button>
    </form>
</body>

</html>