<!DOCTYPE html>

<body>
    <header>Página Inicial</header>

    <table>
        <tr>
            <td style="vertical-align: top;">
                <h4>Empresas</h4>
                <p>
                    <a href="/empresa/lista">Listar Empresas</a>
                </p>
                <p>
                    <a href="/empresa/cadastro">Cadastrar Empresa</a>
                </p>
            </td>
            <td style="vertical-align: top;">
                <h4>Estagiários</h4>
                <p>
                    <a href="/estagiario/cadastro">Cadastrar Estagiário</a>
                </p>
            </td>
            <td style="vertical-align: top;">
                <h4>Contratos de Estágio</h4>
                <p>
                    <a href="/contrato/lista">Listar Contratos</a>
                </p>
                <p>
                    <a href="/contrato/cadastro">Cadastrar Contrato</a>
                </p>
            </td>
        </tr>
    </table>


    <form method="post" action="/login/realizar_logout">
        <button type="submit">Logout</button>
    </form>
</body>

</html>